root {
  --day-background-color: #f6f5f4;
  --day-accent-color: rgba(242, 233, 228, 0.8);
  --day-text-color: #2d3341;
  --day-gradient: linear-gradient(to right, #c9d6ff, #e2e2e2);;
  --night-background-color: rgb(59, 66, 82);
  --night-gradient: linear-gradient(
      to right,
      rgb(20, 30, 48),
      rgb(36, 59, 85)
  );
  --night-accent-color: rgba(67, 76, 94, 0.8);
  --night-text-color: #f6f5f4;
  --accent-color: #f7931e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-container {
  background-color: var(--background-color);
  background-image: url('/bg.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
}

html {
  scroll-snap-type: y mandatory;
}

.panel {
  scroll-snap-align: start;
}

.container {
  position: relative;
    z-index: 1;
    width: 95%;
    max-width: 1450px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
}
.hero {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  @media (min-width: 991px) {
    justify-content: space-between;
  }
  .welcome {
    flex: 1 1 300px;
    margin-top: 1rem;
    margin-bottom: auto;
    color: var(--background-color);
    text-align: center;
    @media (min-width: 991px) {
      margin-top: auto;
      margin-left: 20%;
      text-align: right;
    }
    font-size: 4rem;
    opacity: 0;
    transform: translateY(100%);;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    p {
      margin-bottom: 0;
    }
  }
}

.card {
  flex: 0 1 300px;
  background-color: var(--background-color);
  transform-style: preserve-3d;
  width: 25rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatar img {
    height: 12rem;
    width: 12rem;
    margin: 0;
    margin-top: 1rem;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.75s ease-out;
  }
  .description {
  }
}


.intro {
  background: var(--background-color);
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.slider {
  background: var(--accent-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.my-logo {
  transform: translateY(100%);
  opacity: 0;
  width: 4rem;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0%   {transform: scale(.8);}
  100% {transform: scale(1.5);}
}