/* navigation styles start here */

.header {
  background: var(--nav-background-color);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.navtoggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.navtoggle:focus ~ .navtogglelabel {
  outline: 3px solid rgba(lightblue, .75);
}

.navtogglelabel {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.navtogglelabel span,
.navtogglelabel span::before,
.navtogglelabel span::after {
  display: block;
  background: var(--text-color);
  height: 1px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.navtogglelabel span::before,
.navtogglelabel span::after {
  content: '';
  position: absolute;
}

.navtogglelabel span::before {
  bottom: 7px;
}

.navtogglelabel span::after {
  top: 7px;
}

.header nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--nav-background-color);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
/* 
.header nav::before{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 3;
  background-color: var(--text-color);
} */

.header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

.header nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.header nav a:hover {
  color: var(--accent-color);
}

.navtoggle:checked ~ nav {
  transform: scale(1,1);
}

.navtoggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.logo {
    margin: 0;
    font-size: 24px;
}
.logo img {
height: 47px;
margin-bottom: 0;
margin-right: 0.5rem;
}

.logo a {
  display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 50px;
    color: var(--text-color);
    text-decoration: none;
    width: 280px;
    border-radius: 40px;
    padding: 1rem;
    font-size: 20px;
    margin-left: 3rem;
}

.logo span {
  text-align: left;
}

@media screen and (min-width: 800px) {
  .navtogglelabel {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    background: var(--nav-background-color);
    border-bottom: 5px solid var(--accent-color);
  }
  
  .logo {
    grid-column: 2 / 3;

  }
  
  .header nav {
    
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
   .header nav ul {
    display: flex;
  }
  
   .header nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
   .header nav a {
    opacity: 1;
    position: relative;
  }
  
   .header nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--accent-color);
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  .header nav a:hover::before {
    transform: scale(1,1);
  }

  .logo a {
    margin-left: auto;
  }
}

