.container {
    background-color: var(--text-color);
    padding-top: 1rem;
    box-shadow: -10px 10px 80px rgba(0,0,0,.1);

}

.wrapper {
    max-width: 900px;
    margin: 0 auto;

    padding-bottom: 5rem;
}

.project-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color);
    padding: 2rem;
    color: var(--text-color);
    box-shadow: -10px 10px 80px rgba(0,0,0,.1);
    border-radius: 6px;
    border-top: 1rem solid var(--accent-color);
}

.project img:hover {
    transform: scale(1, 1.10);
}

.container h1 {
    color: var(--background-color);
}

.project img {
    height: 180px;
    object-fit: contain;
    width: 100%;
    transform: scale(1, 1);
    transition: transform ease-in-out 250ms;
}

.project small {
    margin-top: auto;
    text-align: right;
}

.project p {
    line-height: 1.5rem;
}

a {
    text-shadow: none;
    background-image: none;
}